#container {
  cursor: url(images/boosmall.gif) 25 15, pointer;
  width: 50%;
  height:500px;
  background-image: url(images/hauntedhousebackground.jpg);
  display: block;
  margin: 0 auto;
  background-size: 120%;
}

#larger {
  cursor: url(images/boosmall2.gif) 25 15, pointer;
  width: 20%;
  height: 50px;
  background-color: blue;
}
