#container {
 /* cursor: url(images/boosmall.gif) 25 15, pointer;*/
  width: 50%;
  height:500px;
  background-image: url(images/hauntedhousebackground.jpg);
  display: block;
  margin: 0 auto;
  background-size: 120%;
  overflow: hidden;
  position: relative;
}

.boo {
   width:40px;
  height:40px;
  background-image: url(images/boosmall2.gif);
  background-size: 110%;
  position: absolute;
  float: left;
}

.bananas {
  width:40px;
  height:40px;
  background-image: url(images/bananas.png);
  background-size: 110%;
  position: absolute;
}

.left-banana {
  left: 0px;
}

.right-banana {
  right: 0px;
}

.top-banana {
  top:0px;
}

.bottom-banana {
  bottom: 0px;
}

.mushroom {
  width: 45px;
  height: 45px;
  background-image: url(images/poisonmushy.png);
  background-size:100%;
  position: absolute;
}