#container {
 /* cursor: url(images/boosmall.gif) 25 15, pointer;*/
  width: 50%;
  height:500px;
  background-image: url(images/hauntedhousebackground.jpg);
  display: block;
  margin: 0 auto;
  background-size: 120%;
  overflow: hidden;
  position: relative;
  cursor: none;
}

.boo1 {
  display: none;
   width:40px;
  height:40px;
  background-image: url(images/boosmall2.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo2 {
  display: none;
   width:50px;
  height:50px;
  background-image: url(images/boosmall3.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo3 {
  display: none;
   width:55px;
  height:55px;
  background-image: url(images/boosmall.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo4 {
  display: none;
   width:60px;
  height:60px;
  background-image: url(images/boosmall10.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo5 {
  display: none;
   width:65px;
  height:65px;
  background-image: url(images/boosmall6.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo6 {
  display: none;
   width:70px;
  height:70px;
  background-image: url(images/boosmall7.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.boo7 {
  display: none;
   width:75px;
  height:75px;
  background-image: url(images/boosmall8.gif);
  background-size: 100%;
  position: absolute;
cursor:none;}

.bananas {
  width:40px;
  height:40px;
  background-image: url(images/bananas.png);
  background-size: 110%;
  position: absolute;
}

.left-banana {
  left: 0px;
}

.right-banana {
  right: 0px;
}

.top-banana {
  top:0px;
}

.bottom-banana {
  bottom: 0px;
}

.mushroom {
  width: 45px;
  height: 45px;
  background-image: url(images/poisonmushy.png);
  background-size:100%;
  position: absolute;
}

.game-over {
  width: 100%;
  height: 100%;
  background-color: blue;
}